<?xml version="1.0" encoding="utf-8"?>
<manifest
	package="hu.edudroid.mapsforge_sample"
	xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
	android:installLocation="auto"
	android:versionCode="50"
	android:versionName="0.5.0">

	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	<uses-permission android:name="android.permission.INTERNET"/>

	<uses-sdk
		android:minSdkVersion="9"
		android:targetSdkVersion="21"/>
	<application
		android:name=".SamplesApplication"
		android:allowBackup="true"
		android:hardwareAccelerated="false"
		android:label="Mapsforge Samples"
        tools:replace="label">

        <activity
			android:name=".RenderTheme4"
			android:configChanges="keyboardHidden|orientation|screenSize"
			android:label="RenderTheme V4">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

	</application>

</manifest>
